<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GetHubExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1DCD95A1F253DB800A44527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1DCD96E1F253DB900A44527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1DCD9791F253DBA00A44527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
